/*
Main Text Colour: Black (#000000)
Secondary Text Colour: White (#FFFFFF)
Background Colour: #658091
Accent and Interactive Colour: Dark Blue #004489
Main Colour: Blue #0060AA
Font Family: "Open Sans",sans-serif

*/

/* Define colour constants to centralise the theme */
:root {
    --maintext: rgb(90, 90, 90);
    --secondarytext: white;
    --backgroundcolor: #4BA2CF;
    --accent: #004489;
    --maincolor: #0060AA;
}

body {
    background-color: var(--backgroundcolor);
}

header {
    background-color: var(--secondarytext);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 16px;
    margin: 1em;
}

.headerForm {
    width: 50%;
}

header h1{
    display: inline;
}

#logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 10px;
    font-family: "Open Sans",sans-serif;
    color: var(--maintext);
}

h1 {
    font-size: 36pt;
}

h3 {
    font-size: 24pt;
}

p {
    font-size: 12pt;
}

main {
    background-color: var(--secondarytext);
    border-radius: 10px;
    margin: 1em;
}

aside {
    background-color: var(--secondarytext);
    border-radius: 10px;
    margin: 1em;
}

footer {
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    margin: 1em;
    padding-left: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    border: 2px solid var(--accent);
    background-color: var(--maincolor);
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
    text-align: center;
}

nav li a {
    color: var(--secondarytext);
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: var(--accent);
}

.active {
    background-color: var(--accent);
}

table {
    font-family: "Open Sans","sans-serif";
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid #F0F0F0;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table tr:hover {
    background-color: var(--backgroundcolor);
}

table th {
    background-color: var(--maintext);
    color: white;
}

fieldset {
    display: inline;
}

main {
    overflow: auto;
}

.gallery-img {
    width: 100%;
    height: 100%;
}

#img-gallery {
    padding-top: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

.banner {
    height: 600px;
    width: 1200px;
    position: absolute;
    display: block;
    z-index: -5;
}

/* Main 'Heading' for Text on carousel */
.carousel-headcaptions {
    color: var(--secondarytext);
    text-shadow: 1px 1px 2px black;
}

/* Main Text for carousel caption */
.carousel-caption {
    position: absolute;
    bottom: 35%;
    transform: translate(5%,0);
}